* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.918);
    border-radius: 0 10px;
    height: 60px;
}

header img { margin: 15px 0 10px 30px; }

ul {
    display: flex;
    list-style: none;
}

li {
    font-size: 16px;
    padding: 10px;
    margin: 0px 30px 0 0;
}

a {
    color: white;
    text-decoration: none;
}

#banner {
    text-align: center;
    background-color: white;
    padding: 15px;
}

#sections {
    background: url("img/Fotos/ForfunBackground\ Duo.jpg");
    background-repeat: no-repeat;
    height: 500px;
    padding: 20px;
    border-radius: 20px;
}

#sectionLeft {
    float: left;
    width: 70%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.877);
    width: 600px;
    height: 410px;
    margin: 10px 10px 20px 100px;
    border-radius: 20px; 
    text-align: center;
    font-size: 85%;
}

table, th, td {
    padding: 10px;
    text-align: left;
}

#sectionRight {
    background: linear-gradient(rgba(255, 255, 255, 0.301), rgba(255, 255, 255, 0.925)), url("img/Camisetas/CamisetaAlegriaCompartilhada.png");
    background-repeat: no-repeat;
    float: right;
    width: 30%;
    height: 90%;
    margin: 10px 100px 20px 10px;
    border-radius: 20px;
}

#sectionRight a {
    font-size: 100%;
    color: black;
}

#sectionRight p { margin: 380px 0 0 270px; }

article {
    margin: 10px 10px 15px 100px;
    width: 85%;
}

article p {
    font-size: 18px;
    line-height: 25px;
}

article a {
    color: black;
    margin-left: 85%;
    font-size: 20px;
}

footer {
    display: flex;
    background-color: black;
    color: white;
    height: 60px;
    padding: 10px;
    border-radius: 10px 0;
}

footer p {
    float: left;
    width: 90%;
    margin-left: 10px;
    margin-top: 15px;
    text-align: left;
    font-size: 16px;
}

footer a {
    float: left;
    width: 10%;
    margin-right: -10px;
    margin-left: -50px;
    margin-top: 2px;
}

 .Footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#forfunBG {
    background-color: rgba(0, 0, 0, 0.993);
    border-radius: 20px 0;
    text-align: center;
    width: 95%;
    margin: 50px auto;
}

#formularioContato {
    width: 500px;
    height: 600px;
    text-align: center;
    font-size: 16px;
    background-color: rgba(201, 193, 193, 0.185);
    margin: -0px 0 0 30%;
    padding: 20px;
}

#formularioContato input, select, textarea {
    font-size: 14px;
    margin-bottom: 20px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid;
    padding-left: 5px;
}

#formularioContato p {
    margin: 15px 0 30px 20px;
    text-align: left;
}

button {
    background-color: rgba(0, 0, 0, 0.822);
    color: rgba(255, 255, 255, 0.884);
    width: 100px;
    height: 40px;
    border: 1px solid;
    border-radius: 5px;
}

#formularioContato button { margin-top: -15px; }

.produtoSelecionado { font-weight: bolder; }

.itens {
    float: left;
    width: 16%;
    background-color: rgba(0, 0, 0, 0.082);
    height: 100%; 
    position: fixed;
    top: 0;
}

.itens ul {
    display: table;
    line-height: 50px;
}

.itens ul li { margin-top: 40%; }
.itens hr { margin-bottom: -40px; }

.itens a {
    color: black;
    font-size: 120%;
}

.todosProdutos {
    float: left;
    width: 84%;
    margin-left: 16%;
}

.todosProdutos div .div1, .div2 {
    float: left;
    width: 42%;
    margin: 20px 10px 30px 50px;
    color: rgba(0, 0, 0, 0.671);
}

.produtosLine {
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
}

.produtosLine .tamanhos {
    width: 50px;
    margin-left: 10px;
}

.comprar {
    background-color: white;
    color: rgba(0, 0, 0, 0.781);
    margin-left: 45px;
}

#caneca {
    margin: 30px 0 30px 50px;
    line-height: 5px;
}

#caneca .preco { margin-left: 75px; }
#caneca button { margin-left: -10px; }

.bones {
    display: flex;
    margin-left: -50px;
}

.bones .preco { margin-left: 10%; }

#quemSomosDiv {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#quemSomosA {
    float: left;
    width: 25%;
    background: linear-gradient(rgba(255, 255, 255, 0.384), rgba(255, 255, 255, 0.521)), url("img/Fotos/A.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*  opacity: 0.5;*/
}

#quemSomosB {
    float: left;
    width: 25%;
    margin-left: 10px;
    background: linear-gradient(rgba(255, 255, 255, 0.384), rgba(255, 255, 255, 0.521)), url("img/Fotos/B.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#quemSomosC {
    float: left;
    width: 25%;
    margin-left: 10px; 
    background: linear-gradient(rgba(255, 255, 255, 0.384), rgba(255, 255, 255, 0.719)), url("img/Fotos/C.png"); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#quemSomosD {
    float: left;
    width: 25%;
    margin-left: 10px;
    background: linear-gradient(rgba(255, 255, 255, 0.384), rgba(255, 255, 255, 0.521)), url("img/Fotos/D.png"); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


#quemSomosA p, #quemSomosB p, #quemSomosC p, #quemSomosD p { color: rgba(255, 255, 255, 0.897); }
#quemSomosA p { margin-left: 27%; }
#quemSomosB p { margin-left: 20%; }
#quemSomosC p { margin-left: 15%; }
#quemSomosD p { margin-left: 32%; }

#quemSomosA h3, #quemSomosB h3, #quemSomosC h3, #quemSomosD h3 {
    color: rgba(255, 255, 255, 0.877);
    margin-top: 30%;
    margin-bottom: -5%;
    margin-left: 25%;
}

#quemSomosA img, #quemSomosB img, #quemSomosC img, #quemSomosD img {
    width: 30px;
    margin-left: 45%;
}

#quemSomosA hr, #quemSomosB hr, #quemSomosC hr, #quemSomosD hr {
    width: 50px;
    border: 1px solid white;
}

#quemSomosA, #quemSomosB, #quemSomosC, #quemSomosD {
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
} 

#quemSomosA:hover, #quemSomosB:hover, #quemSomosC:hover, #quemSomosD:hover, button:hover {
   -webkit-transform: scale(1.1);
   transform: scale(1.05);
   cursor: pointer;
}

a:hover { 
    font-weight: bold; 
    cursor: pointer; 
}

#headerQuemS { border-radius: 0; }

.discografia {
    display: flex;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

#CDA { background: linear-gradient(rgba(255, 255, 255, 0.288), rgba(255, 255, 255, 0.116)), url("img/Cd/CDDas-pistas-de-skate-as-pistas-de-danca2.jpg"); }
#CDB { background: linear-gradient(rgba(255, 255, 255, 0.233), rgba(255, 255, 255, 0.384)), url("img/Cd/CDTeoriaDinamica2.jpg"); }
#CDC { background: linear-gradient(rgba(255, 255, 255, 0.308), rgba(255, 255, 255, 0.295)), url("img/Cd/CDPolisenso2.jpg"); }
#CDE { background: linear-gradient(rgba(255, 255, 255, 0.24), rgba(255, 255, 255, 0.479)), url("img/Cd/CDAlegriaCompartilhada.jpg"); }
#CDF { background: linear-gradient(rgba(255, 255, 255, 0.205), rgba(255, 255, 255, 0.349)), url("img/Cd/CDAoVivoNoDiscoVoador.jpg"); }
#CDG { background: linear-gradient(rgba(255, 255, 255, 0.384), rgba(255, 255, 255, 0.719)), url("img/Cd/CDNu2.jpg"); }

#CDA, #CDB, #CDC, #CDE, #CDF, #CDG { 
    margin: 10px 20px 0px 20px; 
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
    width: 25%;
}

.discografia p {
    opacity: 0.0;
    padding-top: 275px;
    color: rgba(0, 0, 0, 0.664);
}

.discografia div:hover {
    -webkit-transform: scale(1.0);
    transform: scale(1.05);
    cursor: pointer;
    opacity: 1.0;
}

.discografia p:hover { opacity: 1.0; }
#headerDisco { margin-bottom: 30px; }
#footerDisco { margin-top: 20px; }
#CDA, #CDE { margin-left: 150px; margin-right: -10px;}
#CDC, #CDG { margin-left: -10px; }

#CDA:hover { background: linear-gradient(rgba(255, 255, 255, 0.288), rgba(255, 255, 255, 0.116)), url("img/Cd/CDDas-pistas-de-skate-as-pistas-de-danca.jpg"); }
#CDB:hover { background: linear-gradient(rgba(255, 255, 255, 0.233), rgba(255, 255, 255, 0.384)), url("img/Cd/CDTeoriaDinamica.jpg"); }
#CDC:hover { background: linear-gradient(rgba(255, 255, 255, 0.308), rgba(255, 255, 255, 0.295)), url("img/Cd/CDPolisenso.jpg"); }
#CDE:hover { background: linear-gradient(rgba(255, 255, 255, 0.24), rgba(255, 255, 255, 0.479)), url("img/Cd/CDAlegriaCompartilhada.png"); }
#CDF:hover { background: linear-gradient(rgba(255, 255, 255, 0.205), rgba(255, 255, 255, 0.349)), url("img/Cd/CDAoVivoNoDiscoVoador.png"); }
#CDG:hover { background: linear-gradient(rgba(255, 255, 255, 0.384), rgba(255, 255, 255, 0.719)), url("img/Cd/CDNu.jpg"); }

#CDA:hover, #CDB:hover, #CDC:hover, #CDE:hover, #CDF:hover, #CDG:hover {
    background-repeat: no-repeat;
    background-size: 100%; 
}

#eventos {
    display: flex;
    width: 100%;
    margin-top: -25px;
}

#eventosA, #eventosB {
    float: left;
    width: 50%;
    height: 100px;
    border-radius: 10px 0;
}

#eventosA {
    background-color: rgb(0, 0, 0);
    margin-left: 100px;
    margin-right: 10px;
}

#eventosB {
    background-color: rgba(255, 255, 255, 0.178);
    border: 1px solid black;
    margin-right: 100px;
    margin-left: 10px;
}

#eventos p {
    font-size: 110%;
    padding-top: 10px;
    padding-left: 30px;
}

#eventosB p { color: black; }
#eventos > #eventosB { padding-left: 340px; }
#eventos > #eventosA { padding-right: 320px; }

#eventosB:hover, #eventosA:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.05);
    cursor: pointer;
}

#eventosprox { 
    display: flex;
    width: 100%;
}

#shows h2 { margin: 50px 0 30px 160px; }

#shows {
    float: left;
    width: 50%;
}

#shows a {
    color: black;
    font-weight: 400;
}

#shows table {
    margin-left: 50px;
    line-height: 30px;
}

#eventosImg {
    float: left;
    width: 50%;
    margin-top: 3%;
    margin-left: 50px;
}

#eventosImg img {
    border-radius: 10px 0;
    opacity: 0.8;
}

#galeria {
    display: flex;
}

figure{
    margin: 60px auto;
}

.seta {
    margin: 220px 180px 0 180px;
}