*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    height: 100%;
    width: 100%;
    max-width: 100%;
}


.wid {
    visibility: hidden;
    position: absolute;
    z-index: -1;
}

.mob {
    color: white;
}


header {
    background-color: rgba(0, 0, 0, 0.918);
    height: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header img { 
    margin: 12px 0 10px 10px;
    width: 100px;
    float: left;
}

.mob ul {
    list-style: none;
}

.mob ul li {
    font-size: 12px;
    margin: -10px 0px 0 0;
    width: 120px;
    float: left;
}

.mob ul li a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    background-color: black;
    padding: 10px;
}

.mob ul li ul {
    visibility: hidden;
   /* position: absolute;
    z-index: 1;*/
    position: relative;
    right: 35%;
}

.mob ul li:hover ul {
    visibility: visible;   
}

.mob ul ul li {
    line-height: 20px;
}

.mob ul li ul hr {
    border: 2px solid rgb(255, 255, 255);
    height: 5px;
}

.mob ul ul a:hover {
    opacity: 0.8;
}

#banner {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

#banner img {
    width: 90%;
    max-width: 90%;
    border-radius: 0 10px;
}

#sections {
    width: 100%;
    max-width: 100%;
    padding: 20px;
}


#sectionLeft {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.877);
    height: 100%;
    border-radius: 20px; 
    text-align: center;
    font-size: 85%;
    line-height: 180%;
}

#sectionLeft table tr td {
    padding-right: 12px;
    text-align: left;
}

#sectionRight {
    display: none;
}

article {
    margin: 0 auto;
    width: 85%;
}

article p {
    font-size: 95%;
    line-height: 25px;
}

#quemSomosID {
    color: black;
    margin-right: 10%;
    font-size: 95%;
}

#verMais, #verMenos {
    color: black;
    margin-top: -2px;
}

#verMaisForfun {
    display: none;
}

footer {
    display: flex;
    background-color: black;
    color: white;
    height: 50px;
    padding: 10px;
    border-radius: 10px 0;
    margin-top: 30px
}

footer p {
    float: left;
    width: 90%;
    margin-left: 10px;
    margin-top: 12px;
    text-align: left;
    font-size: 16px;
}

footer a {
    float: left;
    margin: 3px 5px 0 0;
}

footer a img {
    width: 92%;
}




#formularioContato {
    display: flex;
    flex-direction: column;
    width: 85%;
    font-size: 14px;
    margin-left: 10%;
    line-height: 160%;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(201, 193, 193, 0.185);
}

.wid {
    visibility: hidden;
    position: absolute;
    z-index: -1;
}
