* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.918);
    border-radius: 0 10px;
    height: 60px;
}

header img { margin: 10px 0 10px 20px; }

ul {
    display: flex;
    list-style: none;
}

li {
    font-size: 14px;
    padding: 10px;
    margin: -3px 10px 0 0;
}

a {
    color: white;
    text-decoration: none;
}

.mob {
    visibility: hidden;
}

#banner {
    text-align: center;
    background-color: white;
    padding: 15px;
}

#sections {
    background: url("../img/Fotos/ForfunBackground\ Duo.jpg");
    background-repeat: no-repeat;
    width: 100%;
    max-width: 100%;
    padding: 20px;
}

#sectionLeft {
    width: 80%;
    max-width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.877);
    height: 100%;
    margin: 0 auto;
    border-radius: 20px; 
    text-align: center;
    font-size: 85%;
}

table, th, td {
    padding: 10px;
    text-align: left;
}

#sectionRight {
    display: none;
}

article {
    margin: 0 auto;
    width: 85%;
}

article p {
    font-size: 18px;
    line-height: 25px;
}

#quemSomosID {
    color: black;
    margin-right: 10%;
    font-size: 100%;
}

#verMais, #verMenos {
    color: black;
    margin-top: -2px;
}

#verMaisForfun {
    display: none;
}

footer {
    display: flex;
    background-color: black;
    color: white;
    height: 50px;
    padding: 10px;
    border-radius: 10px 0;
    margin-top: 30px
}

footer p {
    float: left;
    width: 90%;
    margin-left: 10px;
    margin-top: 12px;
    text-align: left;
    font-size: 16px;
}

footer a {
    float: left;
    margin: 3px 5px 0 0;
}

footer a img {
    width: 92%;
}

#formularioContato {
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: 16px;
    line-height: 160%;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(201, 193, 193, 0.185);
}

#forfunBG {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 14px;
}

#forfunBG img {
    width: 80%;
    max-width: 100%;
    margin: 10px auto;
    border-radius: 10px 0;
}

#eventos {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}

#eventosA, #eventosB {
    float: left;
    width: 40%;
    height: 10%;
    border-radius: 10px 0;
}

#eventosA {
    background-color: rgba(255, 255, 255, 0.178);
    border: 1px solid black;
}

#eventos p {
    font-size: 90%;
    padding-top: 1%;
}

#eventos a { color: rgb(0, 0, 0); }
#eventosB { background-color: rgb(0, 0, 0); }
#eventosB p { color: white; }
#eventosB p { padding-left: 40%; }
#eventosA p { padding-left: 5%; }

#galeria {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    font-size: 14px;
}

#galeria img {
    width: 100%;
    max-width: 100%;
}

#eventosProx {
  /*  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;*/
    display: inline-block;
    position: relative;
}

#shows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#shows td, th {
    font-size: 16px;
    line-height: 120%;
}

#eventosImg img { 
    width: 100%;
    max-width: 100%;
    opacity: 0.3;
    position: absolute;
    z-index: -1;
}

.Footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}


#shows th { text-align: left;}
#shows a { color: black; }
#shows table { border-spacing: 10px; }
#shows table td, th { padding-left: 10px;}
